{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section id="logout">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        {% if process == "connect" %}
        <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
        {% else %}
        <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>
        {% endif %}
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        {% if process == "connect" %}
        <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
        {% else %}
        <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
        {% endif %}
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <form method="post">
          {% csrf_token %}
          <button class="button-signin" type="submit">{% trans "Continue" %}</button>
        </form>
      </div>
    </div>
  </div>
  
</section>
{% endblock %}
