{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section id="login">
  <div class="container">
    <div class="row d-flex justify-content-center">
          <div class="col-lg-12 d-flex justify-content-center">
              <p class="fs-2"><strong>{% trans "Sign Up" %}</strong></p>
          </div>
        
          <div class="col-lg-4">
            <p class="card-text">{% blocktrans %}Already have an account? Then please <a class="text-light" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            <form class="signup login" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              <div class="col-lg-12 py-2">
                <input type="text" class="form-control" placeholder="Username" name="username">
              </div>
              <div class="col-lg-12 py-2">
                <input type="email" class="form-control" placeholder="Email" name="email">
              </div>
              <div class="col-lg-12 py-2">
                <input type="password" class="form-control" placeholder="Password" name="password">
              </div>
              <div class="col-lg-12 py-2">
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
              </div>
              <div class="col-lg-12 py-2">
                <a class="btn btn-link text-light" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              </div>
              <div class="col-lg-12 d-flex justify-content-center py-2">
                <button class="button-signin" type="submit">{% trans "Sign In" %}</button>
              </div>
            </form>
            
          </div>
    </div>
  </div>
  </div>
</section>

{% endblock %}
  username
  email
  password
  password